[ req ]
prompt = no
distinguished_name = dn
req_extensions = req_ext

[ dn ]
CN = dev-i4mlab.aegean.gr
O = UAegean
C = GR

[ req_ext ]
basicConstraints = critical,CA:FALSE
keyUsage = critical,digitalSignature
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = dev-i4mlab.aegean.gr
